{% extends 'app_recipe/base.html' %}
{% load static %}
{% block content %}
<div class="background-col">
	<div class="container">
		<div class="topnav">
			<span><a href="#">Recipes </a></span>
			<span> <a href="#">Cooking </a></span>
			<span> <a href="#">Reviews </a></span>
			<span><a href="#">Contact</a></span>

			<div class="line"></div>

		</div>
	</div>
</div>
<div class="showcase">
	</br>
	<h2>
		<span> Welcome to the best website</span></br> <span> to discuss about food </span></br> <span> and
			stuff. </spam></br> </span>
		<span>We are here at your service.</span>
	</h2>
	<div class="join">
		<span class="visible">
			<span class="inner">
				Join Now
			</span>
		</span>
	</div>
</div>
<div class="background">
	<div class="container">
		<div class="photo"></div>
		<div class="photo-content">
			<h3><span>Make recipes your own</span></h3>
			<span>With Saffron’s recipe editor, you can easily edit recipes, save adjustments to ingredients, and
				add
				additional steps or tips to your preparation.</span>
			<h3><span>All in one place</span></h3>
			<span>
				Storing your recipes in Saffron allows you to quickly search, find, and select what you want to
				cook.
			</span>
			<h3><span>Cook from your favorite device</span></h3>
			<span>Saffron stores your recipes in the Cloud so you can access them on any device through our website
				or
				Android/iOS app.<span>
		</div>
	</div>
</div>
<div class="background1">
	<div class="container">
		<div class="popular">
			<h1><span>Popular recipes collection</span> </h1>
		</div>
		<div class="row">
			<div class="col-sm">
				<img class="pho" src="images/chicken curry.jpg">
				<div class="col-sm">
					<div class="colm">
						<span>Chicken Pasta Recipe</span>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<img class="pho" src="images/chowmine.jpg">

				<div class="col-sm">
					<div class="colm">
						<span>Chowmine Recipe</span>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<img class="pho" src="images/vegetable soup.jpg">

				<div class="col-sm">
					<div class="colm">
						<span>Soup Pasta Recipe</span>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<img class="pho" src="images/egg pizza.jpg">
				<div class="col-sm">
					<div class="colm">
						<span>Rocket Egg Pizza Recipe</span>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="wrapper">
				<span class="visible">
					<span class="inner">
						More recipe collections
					</span>
				</span>
			</div>
		</div>
		<div class="container">
			<div class="add-import">
			<div class="addbox-main">
				<span class="add">
					<h3><span>Add Recipe</span></h3>
				</span>
				<div class="import"><span>Import from websites or enter using our side by side recipe form</span></div>
			</div>
			<div class="addbox">
				<div class="format"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}